# general
Django==4.2.1
Pillow==9.5.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
django-filter==23.2

#db:
psycopg2

# mail
django-mail-templated==2.6.5

# deploy:
gunicorn

# background process:
celery==5.2.7
django-celery-beat

# redis (broker & cache):
django-redis==5.2.0


# clean code
flake8==6.0.0


# test
pytest
pytest-django


# swagger & redoc
drf-yasg[validation]

# add fake data to database
Faker==18.9.0


# Development (TEST WITH REACT DEV SERVER)
django-cors-headers
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
